<div class="form-group">
  <%= form_for @article do |f|%>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form_control', required: true%><br>
    </div>
    <div class="field">
      <%= f.label :body %><br>
      <%= f.text_field :body, required: true%>
    </div>
    <div>
      <% @categories.each do |category| %>
        <%= check_box_tag "categories[]", category.id%>
        <%= category.name%> <br>
      <%end%>
    </div>
    <br>
    <%= f.submit "Enviar", class: "btn btn-primary"%>
  <% end %>
</div>